<%= content_for :title, "Nuevo material" %>

<% content_for :breadcrumb do %>

<% end %>

<% content_for :main_content do %>

<h1>New material</h1>

<%= render 'form' %>

<%= link_to 'Back', materiales_path %>

<% end %>
